<h1>Editing task</h1>

<%= render 'form' %>

<% content_for(:links) do %>
  <li><%= link_to 'Delete', project_task_path(@project, @task), method: :delete %></li>
  <li><%= link_to 'Back', project_tasks_path %></li>
<% end %>
