<h1>Listing tasks</h1>

  <ul id="sortable">
    <% @tasks.each do |task| %>
      <li class="ui-state-default">
        <span class="ui-icon ui-icon-arrowthick-2-n-s">
          <%= link_to task.title, edit_project_task_path(@project, task) %>
        </span>
      </li>
    <% end %>
  </ul>

<br>



<% content_for(:links) do %>
  <li><%= link_to 'New Task', new_project_task_path(@project) %></li>
<% end %>

