<h1>Help<h1>

<hr />

<h2>Sharing Projects</h2>

<p>
  You can share projects with other people, so that both of you can add, prioritize, and
  manipulate tasks.
</p>
<p>
  To do this, you need that user's email who you wish to share project(s) with.
  After you have the user's email you wish to share with, click on "share" next to the
  project you wish to share and enter the url.
</p>