<h1>Listing projects</h1>

<% @projects.each do |project| %>
  <%= link_to project.name, project_tasks_path(project) %>
  &nbsp;|&nbsp;
  <%= link_to 'Edit', edit_project_path(project) %>
  <br />
<% end %>

<br>

<% content_for(:links) do %>
  <li><%= link_to 'New Project', new_project_path %></li>
<% end %>
